{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}LogIn . Prisma{% endblock %}
{% block css %}
<style>
 .card{
   width: 650px;
 }
 .message{
  width: 650px;
 }
</style>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-8 mx-auto align-self-center">
        <div class="col-12 message">
          {% if messages %}
          {% for message in messages %}
           <div class="col-6 alert alert-{{ message.tags }} text-center mx-auto">
            {{ message}}
          </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="card">
          <div class="card-body">
            <form action="" method="POST">
               <h4 class="text-center">Log In</h4>
               <hr class="m-0">
              {% csrf_token %}
              {{ form|crispy }}
             <button type="submit" class="btn btn-outline-primary">Log In</button>
            </form>
            <hr class="my-2">
            <small class="text-muted">Need An Account?
              <a href="{% url 'account:signup' %}" class="ml-1">SignUp Now</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
