<!-- Load static file -->
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta  charset = "utf-8">
    <!-- <link  rel = "stylesheet"  href = "{% static 'bootstrap/css/bootstrap.min. css' %}" > -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <form action="{% url 'core:edit_comment' video_id comment_id %}" method="POST" id="edit_comment_form">
        <div class="form-group" >
          <!-- <label>Content</label> -->
          <!-- <textarea class="form-control" rows="5" cols="80" id="content" placeholder="">{{ form.content }}</textarea> -->
          {% csrf_token %}
          {{ edit_form.content }}
          <!-- <textarea class="form-control" rows="5" cols="80" id="content" placeholder="">{{ edit_comment_form }}</textarea> -->
        </div>
        <button type="submit" onclick = "confirm_submit({{ video_id }}, {{ comment_id }})"  class = "btn btn-primary">Update</button>
    </form>
    <!-- <button type="submit" class="btn btn-primary">Update</button> -->
    <!-- Submit button-->

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>


    <!-- csrf token -->
    <!-- <script  src = "{% static 'js/csrf.js' %}"></script> -->

    <script>

    function  confirm_submit(video_id, comment_id ){

        // call ajax to exchange data with the backend
        $.ajax ({
            url :  '/edit-comment/' + video_id + '/' + comment_id + '/',
            type :  'POST' ,
            data : { content: $('#content').val(), },
            // success callback
            success: function ( e ){
                if (e  ===  'Updating...'){
                    parent.location.reload();
                }
            }
        })
    }
    </script>

</body>
</html>
